body
{
	background-color:floralwhite;
}
#mainpageimg
{
	margin-top: -277px;
	width: 100%;
	height: 100%;
}
#homebutton
{
	float: left;
	margin-top: -410px;
	width: 150px;

}
#cartbutton
{
	float: right;
	width: 150px;
	margin-right:50px;
	margin-top:-410px;
}
#profilebutton
{
	float: right;
	width: 150px;
	margin-right:-25px;
	margin-top:-410px;
}
#btnproduct1
{
	background-color: white;
	border: 0px;
	transition-duration: .7s;
	border-radius: 0px;
	height: 500px;
	width: 500px;
}
#btnproduct1:hover
{
	background-color: white;
	border: 0px;
	transition-duration: .7s;
	border-radius: 0px;
	height: 515px;
	width: 515px;
	box-shadow: 4px 7px 20px #6e6b6b;
}
#btnproduct1, #btnproduct1text
{
	margin-left:10%;
	float:initial;
}
#btnproduct1text
{
	background-color: transparent;
	color:rgba(0, 191, 255, 0.408) ;
	text-decoration: none;
	border:0px;
	font-family: Trebuchet MS, sans-serif;
	height: 10%;
	width: 30%;
	font-size: large;
	text-align: left;
	transition-duration: .7s;
}
#btnproduct1text:hover
{
	background-color: transparent;
	text-decoration: none;
	color:rgba(0, 191, 255, 0.408);
	border:0px;
	font-family: Trebuchet MS, sans-serif;
	height: 12%;
	width: 32%;
	font-size: large;
	text-align: left;
	text-shadow: 4px 4px 7px #6e6b6b;
	transition-duration: .7s;
}
#heading
{
	background-repeat: no-repeat;
	background-image:url("toppart.png");
	background-size: 100%;
	width: 100%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}
body
{
	margin: 0;
	padding: 0;
}
img[id= "product1"]
{
	height: 500px;
	width: 500px;
}
#space
{
	height: 100px;
}